/* Variables ------------------------------------ */

/* __ Light theme */
/* Global variables */
// :root {

  $primary-bg-color: #FFFFFF;
  $primary-font-color: #333333;
  $primary-font-color-2: #81816F;

  $selection-bg-color: #F2E4BD;
  $selection-color: #009998;  // TODO

  $sidebar-bg-color: #F4F8F9;

  $selected-bg-color: #E8F0F2;
  $selected-fg-color: #009998;

  $hover-bg-color: #EEF4F6;
  $hover-fg-color: #009998;

  $scrollbar-hover-color: #CEE0E4;

  $code-bg-color: #F4F8F9;
  $code-shadow: 5px 5px 5px #D2E2E6;
  $code-font-color: #333333;

  $code-keyword-color: #06287e;
  $code-keyword-font-weight: bold;
  $code-func-color: #051F9B;

  $code-string-color: rgb(229, 25, 71);
  $code-numeric-color: #009998;

  $code-comment-color: #999989;
  $code-comment-color-2: #C7C7BF;

  $button-color: #999989;

  $border-color: #E8F0F2;

  $scrollbar-bg-color: #F4F8F9;
  $scrollbar-color: #DBE8EB;

  $sidebar-shadow: 1px 0px 0px 1.5px #E8F0F2;

  // TODO
  $title-font-color: #81816F;
  $transition-bg: background .3s;
  $transition: .3s;
  $link-title-color: #6E7C98;
  $link-visited-color: #81816F;
  $btn-color: #81816F;
// }

/* __ Dark theme */
// html[data-theme="dark"] {

  // /* --primary-bg-color: #282C34; */
  // $primary-bg-color: #262A30;
  // /* $primary-font-color: #f8f8f2; */
  // $primary-font-color-2: #D8DEE9; /* TODO use Nord? */

  // $title-font-color: #c7c7bf;
  // $link-title-color: #c7c7bf;
  // $link-hover-color: #6E7C96;
  // $link-visited-color: #8299B6;

  // /* backup: Nord theme */
  // /* $primary-bg-color: #2E343F; */
  // $primary-font-color: #ECEFF4;

  // $selection-bg-color: #6E7C98;  /* TODO weird behaviour */
  // $selection-color:    #FFA1AA;

  // $sidebar-bg-color: #282C34;

  // $selected-bg-color: #31343E;
  // $selected-fg-color: #BADBE6;

  // $hover-bg-color: #2d3039;
  // $hover-fg-color: #BADBE6;

  // $scrollbar-hover-color: #424758;

  // $code-bg-color:   #282C34;
  // /* $code-shadow:  2px 2px 5px 1px #3F4453; */
  // $code-shadow:     5px 5px 5px #1e2026;
  // $code-font-color: #f8f8f2;

  // $code-keyword-color:       #BADBE6;
  // $code-keyword-font-weight: normal;
  // $code-func-color:          #DCE5EC;

  // $code-string-color:  #E6DB7F;
  // $code-numeric-color: #E6DB7F;

  // $code-comment-color:   #6E7C98;
  // $code-comment-color-2: #434C5F;

  // $btn-color: #c7c7bf;

  // $border-color: #31343E;

  // $scrollbar-bg-color: #282C34;
  // $scrollbar-color:    #393E4D;

  // $sidebar-shadow: 1px 0px 0px 1.5px #31343E;

  // $transition-bg: background .3s;
  // $transition:    .3s;
// }

// General ---------------------------------------

body {
  background: $primary-bg-color;
  color:      $primary-font-color-2;
}

// code_block_upper_bar for Shiny in Rmarkdown
.row { background: none !important; }

// `!important` for Shiny in Rmarkdown
pre {
  background: $code-bg-color !important;
  color:      $code-font-color !important;
  border:     none !important;
  box-shadow: $code-shadow;
}

pre code {
  font-family: 'Fira Code';
}

::selection {
  color:      $selection-color;
  background: $selection-bg-color;
}

::placeholder {
  color: $code-comment-color;
}

h1, h2, h3, h4, h5, h6 {
  color:       $title-font-color;
  font-style:  italic;
  font-family: "Consolas";
}

// TOC -------------------------------------------

.tocify li {
  background: $sidebar-bg-color;
  color:      $primary-font-color-2;
}

li.tocify-item.list-group-item {
  font-size: .9em;
}

.tocify {
  border:        none;
  border-radius: 0px;
}

.list-group-item.active {
  background: $selected-bg-color;
  color:      $selected-fg-color;
}

.list-group-item.active:hover {
  background: $selected-bg-color;
}

.list-group-item:hover {
  background: $hover-bg-color;
  color:      $hover-fg-color;
  transition: $transition-bg;
}

/* Syntax highlight ------------------------------------ */

// TODO Use local file?
@font-face {
  font-family: 'Fira Code';
  src: url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/eot/FiraCode-Regular.eot') format('embedded-opentype'),
    url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff2/FiraCode-Regular.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff/FiraCode-Regular.woff') format('woff'),
    url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a {
  color:      $link-title-color;
  font-style: italic;
}
a:hover, a:visited:hover {
  color:           $code-string-color;
  transition:      $transition;
  text-decoration: none;
}
a:visited {
  color: $link-visited-color;
}

.hljs-literal { color: $code-font-color; }
.hljs-number  { color: $code-numeric-color; }
.hljs-comment { color: $code-comment-color; font-style: italic; }
.hljs-keyword { color: $code-keyword-color; }
.hljs-string  { color: $code-string-color; }

// code_warning
pre:not([class]) {
  background: none;
  color:      $code-string-color;
}

/* Scrollbar --------------------------------- */

/* total width */
::-webkit-scrollbar {
  /* background-color: #282a36; */
  width:  15px;
  height: 10px;
}
/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: $scrollbar-bg-color !important;
}
/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color !important;
  border-radius:    16px !important;
  border:           0.5px solid $scrollbar-color !important;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $scrollbar-hover-color !important;
}
/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

/* Theme switcher elements ------------------------------------ */

/* TODO: Put at book header. Temporarily pad social icons and fix the theme switcher elements on the top right */

/* social_icons_right */
.pull-right {
  right: 70px;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;  /* TODO: use 0 to fix title padding? */
  /* position: relative; */
  width: 60px;
}
.theme-switch input {
  display: none;
}

.slider {

  z-index: 199;

  height: 34px;    /* ahk ruler: ~ 29, prev 3.5%; */
  width: 50px;    /* ahk ruler: ~ 41, prev 5.5% */
  border: solid 3px #E6DB7F;

  position: fixed;
  top: 7px;
  right: 20px;   /* prev left: 170px; */

  cursor: pointer;
  transition: .4s;
}

.slider:before {

  z-index: 200;

  height: 26px;
  width: 26px;

  position: fixed;
  top: 11px;   /* prev bottom: 880px; */
  right: 39px;   /* prev left: 175px; */

  background-color: #E6DB7F;
  content: "";
  transition: .4s;
}

/* TODO: Remove this backup */
/* .slider {
  position: fixed;
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
} */
/* .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
} */

input:checked+.slider {
  background-color: #44475a;
  border: solid 3px #44475a;
}

/* theme_switcher_button_horizontal_sliding */
/* adjust this to fix the 'button' into the 'slider' */
input:checked+.slider:before {
  transform: translateX(15px);  /* prev 13 */
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* book_body_margin_top */
/* theme switcher elements is injected into html body, resulting in extra margin. Fix it */
.book .book-body .page-wrapper .page-inner section.normal, .book .book-body {
  top: 0px !important;
}

// Button ----------------------------------------

// button_dropdown
.dropdown-menu {
  background-color: $primary-bg-color;
}
button.btn.btn-default.btn-xs.dropdown-toggle {
  background: $primary-bg-color;
  color:      $btn-color;
}
.dropdown-menu>li>a {
  background: $primary-bg-color;
  color:      $btn-color;
  font-style: normal;
}
.dropdown-menu>li>a:hover {
  background: $hover-bg-color;
  color:      $hover-fg-color;
  transition: $transition-bg;
}

// `!important` for Shiny in Rmarkdown
.btn, .btn:focus {
  background: $primary-bg-color !important;
  color:      $btn-color !important;
  border:     none;
}
.btn:hover {
  background: $hover-bg-color;
  color:      $hover-fg-color;
  transition: $transition-bg;
}

/* Others --------------------------------- */

/* code_block_margin_bottom */
/* fix weight issues after enabling shadow */
.book .book-body .page-wrapper .page-inner section.normal pre {
  margin-bottom: 0px;
}

/* button_color */
// .book .book-header .btn {
//   color: var(--button-color);
//   transition: .2s;
// }
/* page_arrow_button */
// .fa {
//   color: var(--code-comment-color-2);
//   transition: .2s;
// }
/* button_color_hover, page_arrow_button_hover */
// .book .book-header .btn:hover, .fa:hover {
//   color: var(--hover-fg-color);
// }

/* sidebar_divider */
// .book .book-summary ul.summary li.divider {
//   background: var(--border-color);
// }

/* book_header_bottom_border */
// .book .book-header.fixed {
//   border-bottom: solid 1px var(--border-color);
// }
/* book_header_hover_color */
// .book .book-header h1 a, .book .book-header h1 a:hover {
//   color: var(--hover-fg-color);
// }

/* Search bar --------------------------------- */

// /* search_bar_general */
// .book.with-search .book-summary .book-search {
//   background: var(--sidebar-bg-color);
//   color: var(--primary-font-color);
// }

// /* search_bar_input_general */
// .book .book-summary .book-search input, .book .book-summary .book-search input, .book .book-summary .book-search input:focus, .book .book-summary .book-search input:hover {
//   border: solid 1px var(--border-color);
// }

// /* search_highlight */
// span.search-highlight {
//   background-color: var(--selection-bg-color);
// }













/* TODO */

/* reactable ------------------------------------ */

/* reactable */
.ReactTable {
  background: #282C34;
  border-color: #31343E;
}

/* reactable_bg_strip */
.ReactTable.-striped .rt-tr.-odd {
  background: #2C313A;
}

/* reactable_search */
input.rt-search {
  background: #262A30;
  border-color: #31343E;
}

/* reactable_highlight */
.rt-tr-group:hover {
  background: #292D35;
}

/* reactable_pagination_select */
.ReactTable .rt-pagination select, .ReactTable .rt-pagination input {
  background: #2d3039;
}

/* reactable_pagination_info */
.ReactTable .rt-pagination-info :not(:last-child) {
  color: #6E7C98;
}

/* reactable_page_button */
.ReactTable .rt-page-button-content {
  color: #6E7C98;
}

/* reactable_body */
/* hacky way? */
.ReactTable .rt-tbody .rt-td {
border-left: solid 1px #31343E;
}
